*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --green: hsl(180, 62%, 55%);
    --red:hsl(0, 78%, 62%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --body: hsl(0, 0%, 98%);
    --text: hsl(229, 6%, 66%);
    --heading: black;
}

@font-face{
    font-family: poppins;
    src: url(fonts/Poppins-Regular.ttf);
}

body{
    font-family: poppins;
    font-size: 15px;
    line-height: 1.5;
    color: var(--text);
}

.main{
    max-width: 1440px;
    margin: auto;
    background-color: var(--body);
}

header{
    text-align: center;
    width: 25rem;
    margin: auto;
}

header p{
    font-size: 12px;
    font-weight: 200;
}

header .top{
    font-size: 1.8rem;
    color: var(--heading);
    font-weight: 200;
    opacity: 50%;
    padding-top: 3rem;
}

header .bottom{
    color: black;
    margin-bottom: 0.7rem;
    font-weight: 600;
}

.grid-container{
    display: grid;
    margin: 3rem auto;
    max-width: 1000px;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1.5rem;
    grid-template-areas: 
    ". team ."
    "supervisor team calculator"
    "supervisor karma calculator"
    ". karma .";
    margin-bottom: 2rem;
}

.supervisor{
    background-color: white;
    width: 19.5rem;
    grid-area: supervisor;
    margin: auto;
    box-shadow: 0 5px 10px rgb(207, 201, 201);
}

.team{
    background-color: white;
    width: 19.5rem;
    grid-area: team;
    margin: auto;
    box-shadow: 0 5px 10px rgb(207, 201, 201);
}

.karma{
    background-color: white;
    width: 19.5rem;
    grid-area: karma;
    margin: auto;
    box-shadow: 0 5px 10px rgb(207, 201, 201);
}

.calculator{
    background-color: white;
    width: 19.5rem;
    grid-area: calculator;
    margin: auto;
    box-shadow: 0 5px 10px rgb(207, 201, 201);
}

.line{
    border: 2px var(--green) solid;
}

.line2{
    border: 2px var(--red) solid;
}
.line3{
    border: 2px var(--orange) solid;
}
.line4{
    border: 2px var(--green) solid;
}

.image{
    margin-left: 10.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h4{
    color: black;
    font-weight: 600;
}

.card{
    margin: 1.5rem;
}

.card p{
    font-size: 10px;
    color: var(--text);
    font-weight: 200;
}

.card-text{
    width: 12rem;
}

footer{
    text-align: center;
}

@media screen  and (max-width:768px){
    .main{
        width: 375px;
        margin: auto;
        background-color: white;
    }

    header{
        width: 375px;
        padding: 6rem 2rem;
    }
    header .top{
        font-size: 1.5rem;
        margin-top: -3.5rem;
    }
    header .bottom{
        font-size: 1.6rem;
    }

    header p{
        font-size: 15px;
        opacity: 80%;
        font-weight: 400;
    }

    .team{
        margin-left: 1rem;
    }
    .supervisor{
        margin-left: 1rem;
    }
    .karma{
        margin-left: 1rem;
    }
    .calculator{
        margin-left: 1rem;
    }

    .grid-container{
        display: grid;
        margin: auto;
        width: 375px;
        grid-template-columns: 1 , 1fr;
        grid-template-rows: repeat(4 , 1fr);
        gap: 1.5rem;
        grid-template-areas: 
        "supervisor"
        "team"
        "karma"
        "calculator";
        margin-bottom: 2rem;
        align-content: center;
        padding: 0 1rem;
    }

    .card p{
       font-size: 13px;
       opacity: 80%;
       font-weight: 400;
    }

    .card h4{
        font-size: 1.3rem;
        font-weight: 600;
        margin-top: 1rem;
        opacity: 80%;
    }
    .card-text{
        width: 16rem;
    }

    .image{
        margin-left: 12rem;
        margin-top: 2rem;
    }
  
}